main
{
  text-align: center;
  margin:0;
  font-family:helvetica;

}
nav a {
  color: #ED6A5E;
  font-family: arial black;
}

nav a: hover {
  text-decoration: underline;
}

nav a: visited {
    color: #ED6A5E;
  }

h2{

color: #6B5F67;
Font-size: large;
  font-family:arial black ;
}

a {
  font-size: large;
  font-family: helvetica black;
  font-color: #ED6A5E;
}

body{
background-color: #CEB5A7;
  text-align: center;
}

figcaption {
  font-size: 80%;
}
